@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h2 class="govuk-heading-m">Accept your employer agreement</h2>
<p class="govuk-body"><a asp-route="@RouteNames.AboutYourAgreement" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-hashedAgreementId="@Model.PendingAgreements.FirstOrDefault().HashedAgreementId" class="govuk-link govuk-link--inverse">Accept your agreement</a> with the Department for Education (<abbr>DfE</abbr>) to access funding for apprenticeship training.</p>
