# Optional private NuGet feed (Azure Artifacts) for SFA.DAS.* packages
NUGET_FEED_URL=https://pkgs.dev.azure.com/sfa-gov-uk/_packaging/DigitalApprenticeshipService/nuget/v3/index.json
NUGET_FEED_USER=az
NUGET_FEED_PASS=YOUR_AZURE_ARTIFACTS_PAT
