@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Accessibility statement";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Accessibility statement
        </h1>
        <p class="govuk-body">
            This accessibility statement applies to employer accounts with the Apprenticeship Service.
        </p>

        <p class="govuk-body">
            This website is run by the Department for Education. We want as many people as possible to be able to use
            this website. For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA
                and VoiceOver)
            </li>
        </ul>

        <p class="govuk-body">
            We’ve also made the website text as simple as possible to understand.
        </p>

        <p class="govuk-body">
            <a href="https://mcmw.abilitynet.org.uk" class="govuk-link" target="_blank" rel="noopener">AbilityNet</a> has advice on making your device
            easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-l">
            How accessible this website is
        </h2>
        <p class="govuk-body">
            We know that some parts of this website are not fully accessible:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>select page regions are not identified with ARIA landmarks</li>
            <li>some elements are not using supported ARIA attributes</li>
            <li>there is insufficient contrast between the text and the background in some elements</li>
            <li>different page links with identical text are always not distinguishable by their accessible label</li>
            <li>users navigating with Dragon Naturally Speaking cannot interact with the ‘Help’ content</li>
            <li>some data tables are not marked up correctly with table headers</li>
            <li>navigational items are skipped when navigating with iOS VoiceOver</li>
            <li>related links are not grouped using a nav element</li>
            <li>incorrect autocomplete attributes are used in some data fields</li>
            <li>not all drop-down menus are not announced to screen reader users</li>
            <li>some error messages are announced repeatedly for screen reader users</li>
            <li>headings are not appropriately structured or marked up correctly across the site</li>
            <li>the tab order is not always logical when using mobile screen readers</li>
            <li>html validation errors are present on some pages</li>
        </ul>

        <h2 class="govuk-heading-l">
            Feedback and contact information
        </h2>
        <p class="govuk-body">
            If you need information on this website in a different format like accessible PDF, large print, easy read,
            audio recording or braille:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>email helpdesk@manage-apprenticeships.service.gov.uk</li>
            <li>call 08000 150 600</li>
        </ul>

        <p class="govuk-body">
            We’ll consider your request and get back to you in 5 days.
        </p>

        <h2 class="govuk-heading-l">
            Reporting accessibility problems with this website
        </h2>
        <p class="govuk-body">
            We’re always looking to improve the accessibility of this website. If you find any problems not listed on
            this page or think we’re not meeting accessibility requirements, contact:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>email helpdesk@manage-apprenticeships.service.gov.uk</li>
            <li>call 08000 150 600</li>
        </ul>

        <p class="govuk-body">
            We’ll consider your request and get back to you in 5 days.
        </p>

        <h2 class="govuk-heading-l">
            Enforcement procedure
        </h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
            If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com"
                                                                          class="govuk-link" target="_blank" rel="noopener">contact the Equality
                Advisory and Support Service (EASS)</a>.
        </p>

        <h2 class="govuk-heading-l">
            Contacting us by phone or visiting us in person
        </h2>
        <p class="govuk-body">
            We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.
        </p>
        <p class="govuk-body">
            Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign
            Language (BSL) interpreter.
        </p>

        <h2 class="govuk-heading-l">
            Technical information about this website’s accessibility
        </h2>
        <p class="govuk-body">
            The Department for Education is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

        <h3 class="govuk-heading-m">Compliance status</h3>
        <p class="govuk-body">
            This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link" target="_blank" rel="noopener">Web
                Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.
        </p>


        <h2 class="govuk-heading-l">
            Non-accessible content
        </h2>
        <p class="govuk-body">
            The content listed below is non-accessible for the following reasons.
        </p>
        <h3 class="govuk-heading-m">
            Non-compliance with the accessibility regulations
        </h3>
        <ol class="govuk-list govuk-list--number">
            <li>An empty table header is present within data tables. Screen readers may apply heuristics to decide whether a table is a layout table or a data table and might not announce the content correctly. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships).</li>
            <li>Multiple instances of generic link text such as ‘Details’ are present, which do not sufficiently inform screen reader users where they will be navigated to upon interaction with the links. This fails WCAG 2.2 success criterion 2.4.4 (link purpose (in context)).</li>
            <li>When navigating the site with iOS VoiceOver screen reader enabled, menu navigation items are skipped after interacting with the ‘More’ menu item. This fails WCAG 2.2 success criterion 4.1.2 (name, role, value).</li>
            <li>While using screen readers JAWS, NVDA, Android Talkback and iOS Voiceover, dropdown menu items are not announced as expandable. Users of screen readers would not know that these navigational items can be expanded and may miss out on vital information. This fails WCAG 2.2 success criterion 4.1.2 - Name, Role, Value.</li>
            <li>A correctly formed heading structure is not present to facilitate navigation across the site, with skipped heading levels present. This fails WCAG 2.2 success criterion 2.4.1 Bypass Blocks.</li>
            <li>Headings are not marked up appropriately which may cause screen readers to announce them incorrectly. This fails WCAG 2.2 success criterion 1.3.1 Info and Relationships.</li>
            <li>Links with identical text are not distinguished by their accessible labels. This could cause confusion for screen reader users. This fails WCAG 2.2 success criterion 2.4.4 Link Purpose (In Context).</li>
            <li>The Settings dropdown within the navigational menu is not announced correctly. This fails WCAG 2.2 success criterion 4.1.2 Name, Role, Value.</li>
        </ol>
        <p class="govuk-body">
            We will aim to fix the above issues by December 2025.
        </p>

        <ol start="9" class="govuk-list govuk-list--number">
            <li>ARIA landmarks aren’t used to identify all page content. This may cause content to be missed by screen reader users. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships).</li>
            <li>Some elements do not use supported by ARIA attributes, which may interfere with the accessibility of the webpage. This can mainly be seen where radio buttons are present. This fails WCAG 2.2 success criterion 4.1.2 (name, role, value).</li>
        </ol>

        <p class="govuk-body">
            The ‘Beta’ banner, breadcrumbs and ‘Back’ link are not contained within an ARIA landmark. Users who rely on ARIA landmarks for navigation may unintentionally miss or skip the content not correctly contained within ARIA landmarks. This fails WCAG 2.2 success criterion 1.3.1 - Info and Relationships.
        </p>

        <ol start="11" class="govuk-list govuk-list--number">
            <li>The breadcrumb links on ‘Manage Transfers’ and ‘My Transfer pledges’ are not contained within a &lt;nav&gt; element. Related links that are visually grouped, but not contained within a &lt;nav&gt; do not support users of assistive technologies. This fails WCAG 2.2 success criterion 1.3.1 - Info and Relationships.</li>
            <li>The autocomplete attribute present on the location form input on the ‘Add the locations you'd like to fund’ webpage is not appropriate. The autocomplete attribute ‘new-password’ does not align with the form field's purpose. This may result in users who use autocomplete inputting incorrect data. This fails WCAG 2.2 success criterion 1.3.5 - Identify Input Purpose.</li>
            <li>While using screen readers JAWS, NVDA, Android Talkback and iOS Voiceover, presented error messages are announced multiple times. This fails WCAG 2.2 success criterion 4.1.3 - Status Messages.</li>
            <li>When using a mobile screen reader, the focus order of the page is not always logical. This includes elements being announced when they are not displayed. This fails WCAG 2.2 success criterion 2.4.3 Focus Order.</li>
            <li>Some uses of ARIA are not appropriate and may result in some content being announced incorrectly by screen readers. This fails WCAG 2.2 success criterion 4.1.2 Name, Role, Value.</li>
        </ol>

        <p class="govuk-body">
            We are working alongside other government departments and agencies to fix the above issues.
        </p>

        <h2 class="govuk-heading-l">
            Disproportionate burden
        </h2>
        <p class="govuk-body">
            We are unable to fix any issues that relate to the ‘Help’ pop-up as it managed by a third-party, so it is 
            <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/4/made" class="govuk-link" target="_blank" rel="noopener">exempt from meeting the accessibility regulations</a>. 
            This is known as <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made" class="govuk-link" target="_blank" rel="noopener">disproportionate burden</a> within the meaning of the accessibility regulations.
        </p>

        <p class="govuk-body">
            We will make another assessment when the supplier contract is up for renewal.
        </p>

        <h2 class="govuk-heading-l">
            What we’re doing to improve accessibility
        </h2>
        <p class="govuk-body">
            We will do ongoing accessibility testing of all areas of the employer account to meet WCAG2.2. We are fixing issues 1-8 listed above as a priority.
        </p>

        <h2 class="govuk-heading-l">
            Preparation of this accessibility statement
        </h2>
        <p class="govuk-body">
            This statement was prepared on 20/09/2024. It was last reviewed on 27/01/2025.
        </p>
        <p class="govuk-body">
            This website was last tested on 19/09/2024. The test was carried out by Zoonou.
        </p>
        <p class="govuk-body">
            Zoonou used <a href="https://www.w3.org/TR/WCAG-EM/" class="govuk-link" target="_blank" rel="noopener">WCAG-EM</a> to define a representative selection of pages and test approach.
        </p>

    </div>
</div>


@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a href="/" class="govuk-breadcrumbs__link">Accessibility
                    statement</a></li>
            <li class="govuk-breadcrumbs__list-item">@ViewBag.Title</li>
        </ol>
    </div>
}